.botao{background-color: #6278f7;border-radius: 15px;font-weight: 700;font-size: 18px;padding: 32px;border: none;cursor: pointer;color: aliceblue; margin: 32px 0px;box-shadow: 2px 2px 7px rgb(17, 17, 75);}

.botao:hover{color: #fff;background-color:#465aca;}

.botao:active{top: 3px;position: relative;box-shadow: inset 2px 2px 7px  rgb(17, 17, 75) ;}